# Ignore compiled code
build
*.bin

# Git ignore
.git

# Ignore HTML folder and files - only .gz is OK
index.html/
*.html
*.htm

# ------------- Defaults ------------- #

# Logs
logs
*.log

# Device directories
data-configs/

# Webstorm
.idea
